<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Udate_food_item_supplier"/>
        <activity android:name=".Login_Supplier" />

        <activity android:name=".Add_Product_supplier" />
        <activity android:name=".Supplier_page" />
        <activity android:name=".Register_supplier" />
		
        <activity android:name=".payment3"/>
        <activity android:name=".payment_2" />
        <activity android:name=".payment_one" />
        <activity android:name=".MainActivity_payment">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
		
		<activity android:name=".Activity3_delivery"></activity>
        <activity android:name=".RiderDetails_delivery" />
        <activity android:name=".MainActivity_delivery"/>
		<activity android:name=".MainActivity"/>
		
        <activity android:name=".MainActivity_supplier"/>




    </application>

</manifest>